/* tell the SVG path to be a thin blue line without any area fill */
.graph {
  height: 150px;
}

#AAPL {
  stroke: red;
  stroke-width: 1;
  fill: none;
}

#MSFT {
  stroke: blue;
  stroke-width: 1;
  fill: none;
}

#GOOG {
  stroke: green;
  stroke-width: 1;
  fill: none;
}
  
.axis {
  shape-rendering: crispEdges;
}

.x.axis line, .x.axis path {
  fill: none;
  stroke: green;
  stroke-width: 1.0;
}
   
.y.axis line, .y.axis path {
  fill: none;
  stroke: green;
  stroke-width: 1.0;
}