/* tell the SVG path to be a thin blue line without any area fill */
.graph {
  height: 200px;
}

path {
  stroke-width: 1;
  fill: none;
}

.AAPL {
  stroke: red;
}

.MSFT {
  stroke: blue;
}

.GOOG {
  stroke: green;
}

.axis {
  shape-rendering: crispEdges;
  fill: none;
  stroke: black;
  stroke-width: 1.0;
}
