/* tell the SVG path to be a thin blue line without any area fill */
.graph {
  height: 200px;
}

path {
  stroke: black;
  stroke-width: 1;
  fill: none;
}

.AAPL {
  stroke: red;
}

.MSFT {
  stroke: blue;
}

.GOOG {
  stroke: green;
}

.YHOO {
  stroke: orange;
}

.bitcoin {
  stroke: red;
}

.axis {
  shape-rendering: crispEdges;
  fill: none;
  stroke: black;
  stroke-width: 1.0;
}


/* Table */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.table > .row {
  text-align: center;
  border-left: solid 3px #000;
  border-top: solid 3px #000;
}

.table > .row:last-of-type {
  border-bottom: solid 3px #000;
}

.table > .row > * {
  float: left;
  width: 100px;
  border-right: solid 3px black;
  padding: 5px;
}


.table > .row > .header {
  font-weight: bold;
}